.Rproj.user
.Rhistory
.RData
.httr-oauth
.DS_Store
.quarto

# Generated output files
*.csv
inst/models/CNAppR_scores_adenomas.tsv
inst/models/CNApp_scores_adenomas.tsv
inst/models/CNAs_resegmentadas_adenomas.tsv

# BAM/BAI sequencing files (too large for git)
inst/models/Bam\ y\ bai/
*.bam
*.bai
